p{
    margin:0;
    font-family: Arial;
}

.flex-preview{
    display: flex;
    flex-direction: row;
}

.info-section{
    display: flex;
}

.left-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.username-info{
    display: flex;
}

.nickname{
    font-weight: bold;
}

.username{
    color: rgba(96,96,96,0.85);
}
